
.Adm-logo {
  height: 15vmin;
  pointer-events: none;
}

.desktop-app {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 100%;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2a2a2a;
  height: 15vh;
}

.logo img{
  height: 15vh;
}

.mainHeader navigation{
  display: flex;
  justify-content: space-around;
  flex: 1 1;
  max-width: 60%;
}

navigation a {
  color: #f9f9f9;
  text-decoration: none;
}

.bookNow{
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 4rem;
  height: 5rem;
  width: 5rem;
  height: 3rem;
  width: 10rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.headerNavMenu{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
